<header>
  <h3>BTI425 Assignment 2 - Student Enrolment Task</h3>
</header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Main left-side "home" link -->
    <div class="navbar-header">
      <a routerLink="/home" class="navbar-brand">Home</a>
    </div>
    <!-- Other links -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/Students">Students list</a>
        </li>
        <!-- <li>
          <a routerLink="/Students/create">Add Students</a>
        </li>-->
        <li>
          <a routerLink="/AvailableCourse">Avaliable Courses</a>
        </li>
        <li>
          <a routerLink="/Shopping_Cart">Cart Select</a>
        </li>
        <li>
          <a routerLink="/HelpInfo">Help Info</a>
        </li>
        <li>
          <a routerLink="/invalid-route">Invalid route</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
