
<h2>Welcome</h2>
<p>This Angular app is an example solution for <br>
    BTI425 <a href="https://bti425.ca/graded-work/assign2">Assignment 2</a> in Winter 2019</p> 
<hr>
<p>This current version of the app enables the user to work with ALL students. <br>
    <a routerLink="/Students" class="btn btn-primary">List of Students</a>&nbsp;
    </p>
<hr>
<p> A future version will require the user to login as a specific student.<br>
    <a routerLink="/" class="btn btn-primary" disabled = "disabled">List of Students</a>&nbsp;

</p>
