<!-- <div  class="row"  *ngIf="Student">-->

<div class="row">
  <div class="col-md-7">

    <!-- <h3 > Select courses - {{ Student.givenName}} {{Student.familyName }}, {{Student.studentId}} &nbsp;-->
    <h3> Select courses - &nbsp;
        <a routerLink="/Students" class="btn btn-default">Back to list</a>    </h3>
  </div>
  <div _ngcontent-c5="" class="col-md-5">

    <span>Select courses, then save, or confirm your selections</span>

    <br>

    <button class="btn btn-default" disabled="">Clear</button> &nbsp;
    <button class="btn btn-info" disabled="">Save for later</button> &nbsp;
    <button class="btn btn-primary" disabled="">Confirm as your timetable</button> &nbsp;
  </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <h4>Possible courses, next term</h4>
        <div id="sd">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Day and times</th>
                        <th>Enrolled</th>
                        <th>Professor</th>
                        <th>Add/Remove</th>
                    </tr>
                </thead>
                <tbody>
                  <!--  <tr *ngFor="let m of matchedCourses"> -->
                        <tr>
                        <!-- <td>{{ m.courseCode }} - {{ m.section }} ({{ m.termSectionId }})</td> -->
                        <td><!--
                            <span *ngIf="m.classMon == 'Y'">Monday </span>
                            <span *ngIf="m.classTue == 'Y'">Tuesday </span>
                            <span *ngIf="m.classWed == 'Y'">Wednesday </span>
                            <span *ngIf="m.classThu == 'Y'">Thursday </span>
                            <span *ngIf="m.classFri == 'Y'">Friday</span>
                            <br>
                            {{ m.classStart }} to {{ m.classEnd }}
                        </td>
                        <td>{{ m.enrolTotal }}/{{ m.enrolCapacity }}</td>
                        <td>{{ m.professor }}</td>
                        <td><button [ngClass]="['btn', isCourseSelected(m) ? 'btn-danger' :
                           'btn-success']" (click)="courseSelect(m)">+ / -</button></td>
                           -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <div class="col-md-5">
          <h4>Selected courses</h4>
          <!--
          <app-cart-selected-grid [coursesSelected]="coursesSelected"></app-cart-selected-grid>

          <app-cart-selected-list [coursesSelected]="coursesSelected"></app-cart-selected-list>
        -->

        </div>
