<!--<h3>List of Students from the <code>&nbsp;reqres.in&nbsp;</code> web service</h3> -->
<!--<p><a class="btn btn-default" routerLink="/Students/create">Add Students</a></p>-->
<p>&nbsp;</p>
<h3>List of students and their course history</h3>
<p>&nbsp;</p>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Student Id and Academic Program</th>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Email</th>
      <th>Academic Level</th>
      <th>GPA</th>
      <th>Course History</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let u of Students'>
      <td>{{ u.studentId}}  {{u.academicProgram }}</td>
      <td>{{ u.givenName}} , {{u.familyName }}</td>
      <!--<td>{{ u.birthDate}}</td>-->
      <td> {{ u.birthDate | date }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.academicLevel }}</td>
      <td>{{ u.gpa }}</td>
      <td>{{u.credits.length}} credits</td>
      <td>
        <a routerLink="/Students/detail/{{ u._id }}" class="btn btn-default">Select</a>&nbsp;
      </td>
    </tr>
  </tbody>
</table>